<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Flower Farm</title>

    <!-- href='http://fonts.googleapis.com/css?family=Sintony:400,700'-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel='stylesheet' type='text/css' href=../static/css/home.css>

</head>

<body>
<div class="ui eight column centered grid container">
    <div id="banner">
        <h1>Flower Farm</h1>
    </div>
</div>

<div class="ui centered grid">
    <div class="row">
        <a href="/order" class="item"><button class="ui button">Flower Order</button></a>
        <a href="/list"><button class="ui button">View Orders</button></a>
    </div>
    <div class="row"></div>
    <div class="image">
        <img src="http://weclipart.com/gimg/B3EF64B96E842B1E/pink-flower-page-dividers-pic-15-188728.png">
        <h2 class="quote">(>'-')>~Welcome~<('-'<)</h2>
    </div>
</div>

</body>
</html>